DATABASE_URL=<ISI_NILAI_ASLI_DI_SERVER>
JWT_SECRET=b8c24e995c43903521d044509f6949416b97a5e58f2e80d0db2051bd284ee67a
PORT=<ISI_NILAI_ASLI_DI_SERVER>
SYNC_SERVER_URL=<ISI_NILAI_ASLI_DI_SERVER>
# Owner credentials used by /backup/push & /backup/pull to log into the website API
SYNC_OWNER_EMAIL=<ISI_NILAI_ASLI_DI_SERVER>
SYNC_OWNER_PASSWORD=<ISI_NILAI_ASLI_DI_SERVER>
